__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/


# DOCKER
/docker

.yml
/backend/db
/backend/data

.idea
backend/data/db/base/16384/1259
backend/data/db/base/16384/1259
backend/data/db/base/16384/16398
backend/data/db/base/16384/16458
backend/data/db/base/16384/16513
backend/data/db/base/16384/16515
backend/data/db/base/16384/16523
backend/data/db/base/16384/16535
backend/data/db/base/16384/16536
backend/data/db/base/16384/16537
backend/data/db/base/16384/16543
backend/data/db/base/16384/16545
backend/data/db/base/16384/16546
backend/data/db/base/16384/16547
backend/data/db/base/16384/16553
backend/data/db/base/16384/2604
backend/data/db/base/16384/2610
backend/data/db/base/16384/2619
backend/data/db/base/16384/2619_fsm
backend/data/db/base/16384/2619_vm
backend/data/db/base/16384/2620
backend/data/db/base/16384/2696
backend/data/db/base/16384/2840
backend/data/db/base/16384/2840_fsm
backend/data/db/base/16384/2840_vm
backend/data/db/base/16384/2841
backend/data/db/global/pg_control
backend/data/db/pg_wal/000000010000000000000001
backend/data/db/pg_xact/0000
backend/data/virtuoso/virtuoso-temp.db
backend/data/virtuoso/virtuoso.db
backend/data/virtuoso/virtuoso.trx
*.db
*.trx
frontent/node_modules/.bin/acorn
*.cmd
*.ps1
*.md
